@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the BizTalk Message Archive Portal</h1>
    <p>Please select required page from the menu bar</p>
</div>
